.menu{
    background: transparent;
    border:none;
    font-size: 2em;
}
.menu > i{
    font-weight:bold ;
}
.navegacoa{
    position: fixed;
    display: none;
    height: 100vh;
    width: 50%;
    color: white;
    background: #D8F4F8;
    z-index: 2;
    opacity: 0;
    animation: abrirJanela .2s linear forwards;
}

@keyframes abrirJanela {
0% {
    width: 10%;
    height: 100px;
    opacity: 0;
}
50% {
    width: 25%;
    height: 200px;
    opacity: 0.5;
}
100% {
    width: 50%;
    height: 100vh;
    opacity: 1;
}
}